<div id="<%= dom_id task_assignment %>">
  <p>
    <strong>User:</strong>
    <%= task_assignment.user_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= task_assignment.task_id %>
  </p>

</div>
