<h1>Editing task assignment</h1>

<%= render "form", task_assignment: @task_assignment %>

<br>

<div>
  <%= link_to "Show this task assignment", @task_assignment %> |
  <%= link_to "Back to task assignments", task_assignments_path %>
</div>
