<div class="container row">
    <div class="col">
        <div class="card">
            <div class="card-body bg-secondary h-100">
                Unassigned
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body bg-secondary h-100">
                Assigned
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body bg-secondary h-100">
                In Progress
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body bg-secondary h-100">
                Complete
            </div>
        </div>
    </div>
</div>