<% @projects.each do |project| %>
  <div class="row g-3" data-kanban-target="taskBoard" data-project-id="<%= project.id %>">
    <% statuses = ['unassigned', 'assigned', 'in progress', 'completed'] %>
    <% statuses.each do |status| %>
      <%= render 'tasks/column', column_status: status, tasks: (@tasks_by_status[project.id] || {})[status] || [], project: project %>
    <% end %>
  </div>
<% end %>
