<ul>
  <% updates.each { |update| %>
  <li>
    <p>
      <strong><%= update.author.first_name %>,  <%= time_ago_in_words(update.created_at) %> ago — </strong>
      <span class="short-text"><%= truncate(update.body, length: 100) %></span>
      <span class="full-text" style="display: none;"><%= update.body %></span>
      <a href="#" class="read-more">Read moreCn</a>
    </p>
  </li>
  <% } %>
</ul>