<ul>
    <% updates.each { |update| %>
        <li>
            <p><strong><%= update.author.first_name %>,  <%= time_ago_in_words(update.created_at) %> ago —</strong> <%= update.body.truncate_words(10) %></p>
        </li>
    <% } %>
</ul>