<div id="<%= dom_id task_update %>">
  <p>
    <strong>Task:</strong>
    <%= task_update.task_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= task_update.author_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= task_update.body %>
  </p>

</div>
