<h1>Editing task update</h1>

<%= render "form", task_update: @task_update %>

<br>

<div>
  <%= link_to "Show this task update", @task_update %> |
  <%= link_to "Back to task updates", task_updates_path %>
</div>
