<div id="<%= dom_id project_assignment %>">
  <p>
    <strong>User:</strong>
    <%= project_assignment.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_assignment.project_id %>
  </p>

</div>
