<div class="jumbotron p-3 jumbotron-fluid">
  <div class="d-flex flex-column gx-5 flex-lg-row border-bottom-3 container-fluid">
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 1: Create
      </h2>
      <p class="lead card-body">Create your project and assign tasks.</p>
    </div>
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 2: Watch
      </h2>
      <p class="lead card-body">Watch your tasks for updates.</p>
    </div>
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 3: Relax
      </h2>
      <p class="lead card-body">Enjoy a more efficient project flow!</p>
    </div>
  </div>
</div>