<div class="jumbotron p-3 jumbotron-fluid d-flex justify-content-between align-items-center parched border-bottom-3">
  <div>
    <h1 class="display-4">Do it Better!</h1>
    <p class="lead">Eliminate confusion and increase velocity with the task board anyone can use!</p>
    <div role="button" class="btn btn-danger">Sign Up Now</div>
  </div>
  <div>
    <%= image_tag 'Bordie.png', height: '15%', alt: "Bordie, Bordu's mascot, smiling at you!" %>
  </div>
</div>
<div class="jumbotron p-3 jumbotron-fluid d-flex row align-items-center border-bottom-3">
  <div class="col-4">
    <h2>
      Step 1. Create
    </h2>
    <p class="lead">Create your project and assign tasks.</p>
  </div>
  <div class="col-4">
    <h2>
      Step 2. Watch
    </h2>
    <p class="lead">Watch your tasks for updates.</p>
  </div>
  <div class="col-4">
    <h2>
      Step 3. Relax
    </h2>
    <p class="lead">Enjoy a more efficient project flow!</p>
  </div>
</div>