<div class="jumbotron rounded p-3 jumbotron-fluid d-flex justify-content-between align-items-center parched border-bottom-3">
  <div>
    <h1 class="display-4 fw-bold">The task board for everyone!</h1>
    <p class="lead">Destroy confusion with the project management tool that's easier than email.</p>
    <%= link_to 'Sign Up Now!', 'users/sign_up', class: 'btn btn-danger' %>
  </div>
  <div>
    <%= image_tag 'Bordie.png', alt: "Bordie, Bordu's mascot, smiling at you!", class: "rounded-float-end img-fluid" %>
  </div>
</div>
<%= render 'welcome/stepper' %>
<%= render 'welcome/testimonials' %>
<footer>
  <div class="flex-column d-flex align-items-center my-3">
    Questions? Comments? Want to give me money? <br>
    <span>Email: <a href="mailto:info@bordu.vip">info at bordu.vip</a></span>
  </div>
</footer>