<div class="jumbotron rounded p-3 jumbotron-fluid d-flex justify-content-between align-items-center parched border-bottom-3">
  <div>
    <h1 class="display-4 fw-bold">The task board for everyone!</h1>
    <p class="lead">Destroy confusion with the project management tool that's easier than email.</p>
    <%= link_to 'Sign Up Now!', 'users/sign_up', class: 'btn btn-danger' %>
  </div>
  <div>
    <%= image_tag 'Bordie.png', alt: "Bordie, Bordu's mascot, smiling at you!", class: "rounded-float-end img-fluid" %>
  </div>
</div>
<div class="jumbotron p-3 jumbotron-fluid">
  <div class="d-flex flex-column gx-5 flex-lg-row border-bottom-3 container-fluid">
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 1: Create
      </h2>
      <p class="lead card-body">Create your project and assign tasks.</p>
    </div>
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 2: Watch
      </h2>
      <p class="lead card-body">Watch your tasks for updates.</p>
    </div>
    <div class="col-lg-3 card w-auto m-1">
      <h2 class="card-header">
        Step 3: Relax
      </h2>
      <p class="lead card-body">Enjoy a more efficient project flow!</p>
    </div>
  </div>
</div>
<section class="client pt-3 pb-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="display-3 fw-bold text-white">Testimonials</h1>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
        <p class="p-text text-white">What our clients are saying</p>
      </div>
    </div>
    <div class="row align-items-md-center text-white">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row p-4">
                <div class="t-card">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  <p class="lh-lg">Review goes here...</p>
                  <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                </div>
                <div class="row">
                  <div class="col-sm-2 pt-3">
                    <img src="https://source.unsplash.com/300x300/?girl" class="rounded-circle img-responsive img-fluid">
                  </div>
                  <div class="col-sm-10">
                    <div class="arrow-down d-none d-lg-block"></div>
                    <h4><strong>Sunaina Samuel</strong></h4>
                    <p class="testimonial_subtitle"><span>Associate Software Engineer</span><br>
                      <span>CodeHim</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row p-4">
                <div class="t-card">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  <p class="lh-lg">Review goes here... </p>
                  <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                </div>
                <div class="row">
                  <div class="col-sm-2 pt-4">
                    <img src="https://source.unsplash.com/300x300/?man" class="rounded-circle img-responsive img-fluid">
                  </div>
                  <div class="col-sm-10">
                    <div class="arrow-down d-none d-lg-block"></div>
                    <h4><strong>Esther Zawadi</strong></h4>
                    <p class="testimonial_subtitle"><span>
                        digital strategist</span><br>
                      <span>Vaxa digital</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row p-4">
                <div class="t-card">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  <p class="lh-lg">Review goes here...</p>
                  <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                </div>
                <div class="row text-lg-start">
                  <div class="col-sm-2 pt-4 align-items-center">
                    <img src="https://source.unsplash.com/300x300/?businessman" class="rounded-circle img-responsive img-fluid">
                  </div>
                  <div class="col-sm-10">
                    <div class="arrow-down d-none d-md-block"></div>
                    <h4><strong>Patrick muriungi</strong></h4>
                    <p class="testimonial_subtitle"><span>Web Technologist</span><br>
                      <span>Vaxa digital</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="controls push-right">
          <a class="left fa fa-chevron-left text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                  data-bs-slide="prev"></a>
          <a class="right fa fa-chevron-right text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                  data-bs-slide="next"></a>
        </div>
      </div>
    </div>
  </div>
</section>