<div class= "list-group-item-action w-100 p-2 d-flex justify-content-center align-items-center" role="button" class=<%= dom_class project %> data-action="click->kanban#selectProject" data-kanban-target="project" data-project-id="<%= project.id %>">
    <p class="fw-bold"><%= project.name %></p>
</div>